/*   RESET   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*     HEADER    */

.header {
  border-bottom: 1px solid lightgray;
}

/*    NAVBAR LAYOUT   */

.navbar {
  display: flex;
  align-items: center;
  padding: 15px 24px;
}

/* equal spacing system */

.navbar-left,
.navbar-right {
  flex: 1;
}

/* CENTER LOGO */

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-logo {
  width: 320px;
  object-fit: contain;
}

/* RIGHT SIDE */

.navbar-right {
  display: flex;
  justify-content: flex-end;
}

/* ICON LIST */

.navbar-list {
  display: flex;
  align-items: center;
  gap: 22px;
  list-style: none;
}

.navbar-link img {
  width: 20px;
  cursor: pointer;
}
