/*   RESET   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* min-height: 100vh; */
}

/*     HEADER    */

.header {
  position: sticky;
  top: 0;
  /* z-index: 1000;  */
  background-color: #ffffff; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
 
}

/*    NAVBAR LAYOUT   */

.navbar {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  border-bottom: 1px solid lightgray;
}

/* equal spacing system */

.navbar-left,
.navbar-right {
  flex: 1;
}

/* CENTER LOGO */

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-logo {
  width: 320px;
  object-fit: contain;
}

/* RIGHT SIDE */

.navbar-right {
  display: flex;
  justify-content: flex-end;
}

/* ICON LIST */

.navbar-list {
  display: flex;
  align-items: center;
  gap: 22px;
  list-style: none;
}

.navbar-link img {
  width: 20px;
  cursor: pointer;
}

.navbar-below {
  padding: 15px 24px;
}

.navbar-below-list {
  display: flex;
  justify-content: center;
  gap: 30px;


}

.navbar-below-item {
  list-style: none;
  font-size: 14px;
  font-weight: 300;

}

.navbar-below-link {
  text-decoration: none;
  color: black;
}