 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
             font-family: "Montserrat", sans-serif;
        }

        div {
            
            display: flex;
            
            width: 100vw;
            border-bottom: 1px solid lightgray;
            padding: 15px;
        }

        .logo
        {
            width: 350px;
            margin: auto;
           
        }

        nav ul {
            display: flex;
            margin-top: 24px;
            gap: 22px;
            margin-right: 24px;
        }
        ul li  {
            list-style-type: none;
        }
        ul li img {
            width: 20px;
            
            
        }